<!DOCTYPE html>
<html class="no-js" lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil : Okay-Pizza</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  
  <body>
  <!--****************************************************************-->
  <!--                       Menu principal                           -->
  <!-- Accueil, la carte, panier, promos, mon compte                  -->
  <br />
  <div class="grid-container grid-padding-x">
   <ul class="menu menu-hover-lines">
      <li id="mediumAccueil" 
          class="active show-for-medium">
          <a href="#">Accueil</a>
      </li>
      
      <li id="smallAccueil" 
          class="float-center show-for-small-only">
          <a href="#">
              <object type="image/svg+xml" 
                    data="images/icones/accueil.svg" 
                    width="80" height="40"
                    style="margin-left:-2rem;">
              </object>
          </a>
      </li>
      
      
      <li id="mediumCarte" 
          class="float-center show-for-medium">
          <a href="carte.twig.html">Carte</a>
      </li>
      <li id="smallCarte" 
          class="float-center show-for-small-only">
          <a href="carte.twig.html">
           <object type="image/svg+xml" 
                   data="images/icones/carte.svg" 
                   width="80" height="40"
                   style="margin-left:-2rem;">
          </object>
          </a>
      </li>
    
      
      <li id="mediumPanier" class="float-center show-for-medium">
          <a href="#">Panier</a>
      </li>
      <li id="smallPanier" class="float-center show-for-small-only">
          <a href="#">
           <object type="image/svg+xml" 
                   data="images/icones/panier.svg" 
                   width="80" height="40"
                   style="margin-left:-2rem;">
          </object>
          </a>
      </li>
      
      <li id="mediumPromos" class="float-center show-for-medium">
          <a href="#">promos</a>
      </li>
      <li id="smallPromos" class="float-center show-for-small-only">
          <a href="#">
           <object type="image/svg+xml" 
                   data="images/icones/promos.svg" 
                   width="80" height="40"
                   style="margin-left:-2rem;">
          </object>
          </a>
      </li>

      <li id="mediumCompte" class="float-center show-for-medium">
          <a href="#">Compte</a>
      </li>
      <li id="smallCompte" class="float-center show-for-small-only">
          <a href="#">
           <object type="image/svg+xml" 
                   data="images/icones/compte.svg" 
                   width="80" height="40"
                   style="margin-left:-2rem;">
          </object>
          </a>
      </li>
      
   </ul>
  </div>
  <br />
  <!--****************************************************************-->
  <div class="full-screen"> </div>
  
  <img class="float-right show-for-small-only"  
       style="margin-right:1em; margin-top: -4rem;" 
       src="images/ok-pizz@-200.png" alt=""/>

  <img class="float-right show-for-medium-only"  
       style="margin-right:1rem; margin-top: -4rem;" 
       src="images/ok-pizz@-200.png" alt=""/>

  <img class="float-right show-for-large"  
       style="margin-right:5rem; margin-top: -8rem;" 
       src="images/ok-pizz@-320.png" alt=""/>
  
  <!-- ************************************************************** -->
  <!--                       menu du bas                              -->
  <!--  footer : copyright, qui sommes nous, ou nous joindre, 
                 nous suivre sur les réseaux, salades, pizzas, pattes,..) -->
                   
 <div class="ecommerce-footer grid-container grid-padding-x">
  <div class="ecommerce-footer-links grid-x">
    <div class="small-4 medium-4 large-4 cell">
          <h5>Produits</h5>
          <ul class="menu vertical">
            <li><a href="#">Salades</a></li>
            <li><a href="#">Pizzas</a></li>
            <li><a href="#">Pattes</a></li>
            <li><a href="#">Sandwitch</a></li>
          </ul>
    </div>
    
    <div class="small-4 medium-4 large-4 cell">
        <h5 class="show-for-small-only">Nous</h5>
        <h5 class="show-for-medium">A propos</h5>
        
        <ul class="menu vertical">
          <li class="show-for-small-only"><a href="#">Compagnie</a></li>
          <li class="show-for-medium"><a href="#">La compagnie</a></li>
          
          <li class="show-for-small-only"><a href="#">Adresse</a></li>
          <li class="show-for-medium"><a href="#">Ou nous trouver ?</a></li>
          
          <li class="show-for-small-only"><a href="#">L'équipe</a></li>
          <li class="show-for-medium"><a href="#">Notre équipe</a></li>
          
          <li><a href="#">Contacts</a></li>
        </ul>
    </div>
    
    <div class="small-4 medium-4 large-4 cell">
        <h5>Social</h5>
        <ul class="menu vertical">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Google+</a></li>
          <li><a href="#">Pinterest</a></li>
        </ul>
    </div>
  </div>
 </div>
  
      
  <div class="ecommerce-footer-bottom-bar grid-x">
    <div class="small-12 medium-5 cell">
      <ul class="bottom-links">
        <li class="show-for-large"><a href="#">Politique de confidentialité</a></li>
        <li class="show-for-large"><a href="#">Conditions genérales</a></li>
        <li class="show-for-small-only"><a href="#">Confidentialité</a></li>
        <li class="show-for-small-only"><a href="#">C.G.U</a></li>
        <li class="show-for-medium-only"><a href="#">Confidentialité</a></li>
        <li class="show-for-medium-only"><a href="#">C.G.U</a></li>
      </ul>
    </div>
    <div class="small-12 medium-2 cell ecommerce-footer-logomark show-for-medium">
      <img src="images/ok-pizz@-200.png"/>
    </div>
    <div class="small-12 medium-5 cell">
      <div class="bottom-copyright">
        <span>©2017 - Ok-Pizza. All rights reserved.</span>
      </div>
    </div>
  </div>

<!-- ***************************************************************** -->
    <script src="js/jquery.js"></script>
    <script src="js/what-input.js"></script>
    <script src="js/foundation.js"></script>
    <script src="js/app.js"></script>
    
    <script>
     $( "#mediumAccueil" ).click(function()
     {
       if ($('#mediumAccueil').hasClass('active'))
            { return ;} // je sors du test
            else 
            { 
             $('#mediumAccueil').addClass('active');
             $('#mediumCarte').removeClass('active');
             $('#mediumPanier').removeClass('active');
             $('#mediumPromos').removeClass('active');
             $('#mediumCompte').removeClass('active');
            };
     });
     
    
     $( "#mediumCarte" ).click(function()
     {
         if ($('#mediumCarte').hasClass('active'))
        { return;} 
            else 
            { 
             $('#mediumCarte').addClass('active');
             $('#mediumAccueil').removeClass('active');
             $('#mediumPanier').removeClass('active');
             $('#mediumPromos').removeClass('active');
             $('#mediumCompte').removeClass('active');
        };
     });
     
     $( "#mediumPanier" ).click(function()
     {
         if ($('#mediumPanier').hasClass('active'))
            { return;} 
            else 
            { 
             $('#mediumPanier').addClass('active');
             $('#mediumCarte').removeClass('active');
             $('#mediumAccueil').removeClass('active');
             $('#mediumPromos').removeClass('active');
             $('#mediumCompte').removeClass('active');
             
            };
     });
     $( "#mediumPromos" ).click(function()
     {
         if ($('#meidumPromos').hasClass('active'))
            { return;} 
            else 
            { 
             $('#mediumPromos').addClass('active');
             $('#mediumCarte').removeClass('active');
             $('#mediumPanier').removeClass('active');
             $('#mediumAccueil').removeClass('active');
             $('#mediumCompte').removeClass('active');
            };
     });
     $( "#mediumCompte" ).click(function()
     {
       if ($('#mediumCompte').hasClass('active'))
        { return;} 
        else 
        { 
          $('#mediumCompte').addClass('active');
          $('#mediumCarte').removeClass('active');
          $('#mediumPanier').removeClass('active');
          $('#mediumPromos').removeClass('active');
          $('#mediumAccueil').removeClass('active');
        };
     });
  </script>
    
  </body>
</html>
